/.vscode
/.env
/uploads/*
!/uploads/.gitkeep
/logs/*
!/logs/.gitkeep
/node_modules
/vendor
/composer.phar
*.code-workspace
sftp-config.json
.DS_Store
/applications/junction/
/config/syncthing/

/junction-master/*
/junction-master.zip