Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteBase /

#add .php and see if files exist
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*[^/])$ /$1.php [L]

#if files don't exist add trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /$1/ [L]

#if file and dir don't exist pass it on to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)$ index.php [L,QSA]