Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteBase /

#redirect auth and admin to composer packages
RewriteRule ^admin/(.*)$ /vendor/wildfire/admin/$1 [L]

#redirect to sitemap.xml to composer package
RewriteRule ^sitemap.xml$ /vendor/wildfire/sitemap/index.php [L]
