{
    email {$CONTACT_EMAIL:your-name@your-collective.org}
    admin off
    servers {
        trusted_proxies static private_ranges
        client_ip_headers CF-Connecting-IP X-Forwarded-For X-Real-IP
    }
}

:80 {
    encode gzip

    reverse_proxy {$PROJECT_NAME}_plausible:8000

    log {
        output file /var/log/caddy/plausible_access.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 24h
        }
        format json
        level INFO
    }
}
